@font-face {
  font-family: "Graphic Regular";
  src: url("../../public/fonts/Graphik-Regular-Trial.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphic Medium";
  src: url("../../public/fonts/Graphik-Medium-Trial.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphic Bold";
  src: url("../../public/fonts/Graphik-Bold-Trial.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}
