@import "bootstrap/scss/bootstrap";

@import "./fonts";

//Styles globaux

body {
  font-family: "Graphik Regular", sans-serif;
  color: #384050;
  background-color: #f1f8fc;
}

h1 {
  font-family: "Graphik Medium";
}

//Styles du header
.nav-loop-icon {
  width: 22px;
  height: 22px;
  filter: invert(1);
}

.navbar-toggler-icon {
  filter: invert(1);
}

.header-logo {
  height: 120px;
  width: auto;
  display: block;
}

//Styles du footer
footer {
  text-align: center;
}
